<!DOCTYPE html>
{% extends 'djangoapp/base.html' %}

<html lang="en">
<head>
    {% block title %}
        <title>Add review</title>
    {% endblock title %}
</head>
{% block content %}
    {% if user.is_authenticated %}
{#        <form action="{% url 'djangoapp:add_review' dealer_id=1 %}" method="post">#}
{#            {% csrf_token %}#}
{#            <div class="container-fluid">#}
{#                <h1>Add review</h1>#}
{#                <div class="form-group">#}
{#                    <label for="review"><b>Your review</b></label>#}
{#                    <textarea class="form-control" id="review" rows="10"></textarea>#}
{#                </div>#}
{#                <button class="btn btn-primary" type="submit">Submit</button>#}
{#            </div>#}
{#        </form>#}
        <form action="{% url 'djangoapp:add_review' dealer_id=2 %}" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <h1>Add review</h1>
        <div class="form-group">
            <label for="content"><b>content</b></label>
           <textarea class="form-control" id="content" name="content" rows="10"></textarea>
                         </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
    {% else %}
        <h1>Please login to submit review</h1>
        <a class="btn btn-link" href="/djangoapp/login/">Sign In</a>
    {% endif %}
{% endblock content %}
</body>
</html>
